<h1>User List</h1>

{{#if list}}

<ul>
{{#each list}}
  <li><p><a href="/users/{{username}}">{{username}}</a>: {{message}}</p></li>
{{/each}}
</ul>

{{/if}}

<p><a href="/auth/login">Login</a> to edit your profile</p>
<p><a href="/auth/register">Register an account</a></p>
<p><a>Admin</a></p>
